.about-me__section {
    height: 100vh;
    background-color: var(--color-brown);
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;

}

.about-me__content {
    width: var(--template-width);
    height: 100%;
}

.about-me__top-line {
    height: 3px;
    width: 80%;
    background-color: var(--color-beige);
}

.about-me__container {
    display: flex;
    gap: 180px;
}

.about-me__info {
    width: 100%;
}

.about-me__title {
    color: #FFFFFF;
    font-size: 80px;
}

.about-me__text {
    font-size: 26px;
    text-align: justify;
    color: #FFFFFF;
    line-height: 30px;
}

.about-me__contact {
    color: #FFFFFF;
    padding-top: 53px;
}

.about-me__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me__contact-title {
    text-align: center;
}

.about-me__list {
    list-style: none;
}

.about-me__bottom-line-container {
    position: absolute;
    top: 90vh;
    z-index: 33;
    height: 100%;
    width: var(--template-width);
    display: flex;
    justify-content: end;
}

.about-me__bottom-line {
    height: 3px;
    width: 80%;
    background-color: var(--color-beige);
}