.apresentation__page {
  position: relative;
  width: 100%;
  height: 100%;
}

.apresentation__title,
.autor {
  font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.apresentation__background-top {
  background-color: var(--color-brown);
  height: 40vh;
  width: 100%;
}

.apresentation__background-bottom {
  background-color: var(--color-beige);
  height: 60vh;
  width: 100%;
  position: relative;
}


.apresentation__image-container {
  position: absolute;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.apresentation__content-image {
  width: 1070px;
}

.apresentation__info {
  position: absolute;
  bottom: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.apresentation__info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  font-size: 18px;
  color: var(--color-dark-brown);
}

.apresentation__title {
  display: flex;
  align-items: center;
  justify-content: center;

}

.apresentation__autor {
  padding-top: 120px;
  position: relative;
  font-size: 30px;
  color: var(--color-dark-brown);
  font-weight: 500;
}

.apresentation__line {
  height: 3px;
  width: 800px;
  background-color: var(--color-brown);
  position: absolute;
  right: 0px;
  bottom: 24px;
}

.apresentation__normal-text {
  font-weight: 400;
}