:root {
    --color-beige: #ebdbbd;
    --color-brown: #6b4a2f;
    --color-dark-brown: #4f2e14;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-100: #f3f4f6;
    --color-gray-300: #d1d5db;
    --color-gray-600: #4b5563;
    --color-gray-900: #111827;
}